#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.quoteBox{
  min-height: 250px;
  padding: 3rem;
  border-radius: 30px;
  background: whitesmoke;
  box-shadow: 5px 5px 5px gray;
  text-shadow: 1px 1px 1px gray;
  font-size: 20px;
}
.buttonBox{
  text-shadow: 1px 1px 1px gray;
}